<a href="https://colab.research.google.com/github/sergiorolnic/datascience/blob/main/datascience_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [20]:
%matplotlib inline

In [13]:
import os.path
if not os.path.exists("train.csv"):
    from urllib.request import urlretrieve
    urlretrieve("https://raw.githubusercontent.com/sergiorolnic/datascience/main/train.csv", "train.csv")

In [15]:
train_data = pd.read_csv("train.csv", index_col=0)

# **Esporazione Dati**

In [22]:
train_data.shape

(3000, 22)

In [23]:
train_data.head()

                                belongs_to_collection  ...   revenue
id                                                     ...
1   [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  12314651
2   [{'id': 107674, 'name': 'The Princess Diaries ...  ...  95149435
3                                                 NaN  ...  13092000
4                                                 NaN  ...  16000000
5                                                 NaN  ...   3923970

[5 rows x 22 columns]

In [24]:
train_data.tail()

     belongs_to_collection  ...    revenue
id                          ...
2996                   NaN  ...    1596687
2997                   NaN  ...     180590
2998                   NaN  ...   89456761
2999                   NaN  ...  171963386
3000                   NaN  ...   82087155

[5 rows x 22 columns]

## Significato delle colonne



*   *belongs_to_collection*: appartenenza ad una serie cinematografica
*   *budget*: costo di produzione
*   *genres*: generi
*   *homepage*: link al sito web


*   *imdb_id*: id imbd

*   *original_language*: lingua originale

*   *original_title*: titolo originale

*   *overview*: plot
*   *popularity*: popolarità
*   *poster_path*: path del poster ufficiale
*   *production_companies*: compagnia di produzione
*   *production_countries*: paese di produzione
*   *release_date*: data di uscita
*   *runtime*: durata
*   *spoken_languages*: lingua del film
* status
tagline
title
Keywords
cast
crew
revenue

In [32]:
train_data.columns[]

TypeError: ignored